<div class="created-cont col s10 offset-s1">
  <div class="created-by card-panel center-align z-depth-3">
    created by <%= question.user.username %>
    <% if tagged?(question) %>
      tagged <%= question.tagged_user %>
    <% end %>
</div>
</div>
