<div class="created-cont col s10 offset-s1">
  <div class="created-by card-panel center-align z-depth-3">
    created by
    <% if created?(question) %>
      you
    <% else %>
      <a href="/<%= question.user.username %>" class="user-links">
        <%= question.user.username %>
      </a>
    <% end %>

    <% if question.tagged_user != '' %>
      <br/>
      <div class="tagged badge red darken-1 white-text">tagged</div>
      <% if tagged?(question) %>
        you
      <% else %>
        <a href="<%= question.tagged_user %>" class="user-links">
          <%= question.tagged_user %>
        </a>
      <% end %>

    <% end %>
  </div>
</div>
