<div class="col s10 offset-s1">
  <div class="card-panel center-align">
    created by <%= question.user.username %>
    <% if question.tagged_user != '' %>
      <div class="tagged badge red darken-1 white-text">tagged</div> <%= question.tagged_user %>
    <% end %>
</div>
</div>
