<div class="container center-align">

  <div class="card-panel">
    <a class="teal-text" href="#live_questions">Live Questions</a> | <a class="teal-text" href="#expired_questions">Expired Questions</a>
  </div>

  <%if @live_questions.exists? || @live_tagged.exists? %>
    <div class="row">
      <a name="live_questions"></a>
      <h3 class="white-text">Live</h3>
      <% @live_questions.each do |question| %>
      <% question.close_expired if question.expired? %>
        <div class="question-container">
          <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @live_tagged.each do |question| %>
      <% question.close_expired if question.expired? %>
        <div class="question-container">
          <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @expired_questions.exists? || @expired_tagged.exists? %>
    <div class="row">
      <a name="expired_questions"></a>
      <h3 class="white-text">Expired</h3>

      <% @expired_questions.each do |question| %>
        <div class="question-container">
          <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
        </div>
      <% end %>

      <% @expired_tagged.each do |question| %>
        <div class="question-container">
          <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
        </div>
      <% end %>
            <% end %>

    </div>
</div>
