<div class="container">
  <!-- for easy navigation to live/expired Qs --feel free to move around or change -->
  <a href="#live_questions">Live Questions</a> | <a href="#expired_questions">Expird Questions</a>

  <div class="row">
    <a name="live_questions"></a>
    <!-- feel free to remove / change <h3></h3>'s -->
    <h3>Live</h3>
    <% @live_questions.each do |question| %>
      <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
    <% end %>
  </div>

  <div class="row">
    <a name="expired_questions"></a>
    <h3>Expired</h3>
    <% @expired_questions.each do |question| %>

      <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
    <% end %>
  </div>

</div>
