<div class="container center-align">
  <a href="#live_questions">Live Questions</a> | <a href="#expired_questions">Expired Questions</a>

    <div class="row">
      <a name="live_questions"></a>
      <h3 class="white-text">Live</h3>
      <% @live_questions.each do |question| %>
        <div class="question-container">
          <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
        </div>
      <% end %>
    </div>
    
    <div class="row">
      <a name="expired_questions"></a>
      <h3 class="white-text">Expired</h3>
      <% @expired_questions.each do |question| %>
        <div class="question-container">
          <%= erb :'users/question_partial', layout: false, locals: {question: question} %>
        </div>
      <% end %>
    </div>
</div>
