<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="title z-depth-3">
        Khaled Ipsum
      </div>
    </div>
    <div class="question col s6 z-depth-3">
      <div class="row">
        <div class="col s2">
          <div class="left-button">
            <a class="btn-floating btn-large waves-effect waves-light"><i class="check material-icons">done</i></a>
          </div>
        </div>
        <div class="col s10">
          <div class="question-left">
            <p>
              Let’s see what Chef Dee got that they don’t want us to eat. Stay focused. Eliptical talk. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="question col s6 z-depth-3">
      <div class="row">
        <div class="col s10">
          <div class="question-right">
            <p>
              Let’s see what Chef Dee got that they don’t want us to eat. Stay focused. Eliptical talk. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough?
            </p>
          </div>
        </div>
        <div class="col s2">
          <div class="right-button">
            <a class="btn-floating btn-large waves-effect waves-light"><i class="check material-icons">done</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
