<!DOCTYPE html>
<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo center"><b><i>THE ARBITRATOR</i></b></a>
       <div id="nav-mobile" class="left">
         <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Catagories</a>
         <ul id='dropdown1' class='dropdown-content'>
           <li><a href="#">Top</a></li>
           <li><a href="#!">New</a></li>
           <li><a href="#!">Food</a></li>
           <li><a href="#!">Politics</a></li>
           <li><a href="/category/sports">Sports</a></li>
           <li><a href="#!">Science/Tech</a></li>
           <li><a href="#!">Pop Culture</a></li>
           <li><a href="#!">Misc.</a></li>
         </ul>
       </div>
       <ul id="nav-mobile" class="right">
         <li>
          <div class="chip">
            <img src="/images/max.jpg" alt="loggedin">
            Max Lyons
          </div>
         </li>
       </ul>
     </div>
    </nav>
  </div>


  <%= yield %>
</body>
</html>
