<% if draw?(question) && question.votes.exists?  && question.expired? %>
  <div class="col s10 offset-s1">
    <div class="draw badge light-blue darken-4 white-text center-align z-depth-2">DRAW</div>
  </div>
<% end %>
